h1, h2, h3
{
  color: grey;
}
body
{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px/18px;
  line-height: 1.8em;
  background-color: transparent;
}
h1
{
  font-size: 160%;
  border-bottom: 1px solid black;
}
h2
{
  font-size: 145%;
  border-bottom: 1px solid black;
}
h3
{
 font-size: 130%;

}
body
{
  width: 80%;  
  margin: 0 auto;
}

#maincontent
{  
  width: 100%;  
  float: right;
  padding: 2%;
  border: black solid 1px;
}

#navigation
{  
  width: 100%;
  float: left;  
}

#header
{  
  width: 100%;
}

#footer
{  
  width: 100%;
  clear: both;
}

#primary
{  
  width: 68%;  
  float: left;  
}

#secondary
{  
  width: 30%;  
  float: right;
}

ol#menu 
{
  margin: 0;
  padding: 0;
}

ol#menu li 
{
  display:inline; 
  line-height: 2em;
  padding-right: .5em;
  padding-left: .5em;
}

ol#menu a
{
  text-decoration: none;
}

#menu li.current a 
{
  background: black;
  padding: .5em 2em .5em 2em;
  color:white;
}
.iphone7
{
 background-image: url(images/background.jpg);
 background-position: top left
 background-repeat: no-repeat;
 padding: 140px;
 margin: 20px;
}
.history
{
 background-image: url(images/steve.jpg);
 background-position: top left
 background-repeat: no-repeat;
 padding: 70px;
 margin: 68px;
}
.steve
{
 border-color: black;
 border-width: 1px;
 border-style: solid;
 background-color: #ffffff;
 padding: 60px;
 margin: 20px;
 background-image: url(images/steve.jpg);
 background-repeat: no-repeat;
 background-position: top right;	
}
.news
{
 border-color: black;
 border-width: 1px;
 border-style: solid;
 background-color: #ffffff;
 padding: 60px;
 margin: 5px;
 background-image: url(images/news.jpg);
 background-repeat: no-repeat;
 background-position: center;
 color: black;
}
#maincontent .pods
{  
  width: 100%;  
  float: left; 
}
.airpods2
{
 border-color: black;
 border-width: 1px;
 border-style: solid;
 background-color: #ffffff;
 padding: 70px;
 margin: 1px;
 background-image: url(images/headphone.jpg);
 background-repeat: no-repeat;
 background-position: center;
 color: black;
}
h3.swot
{
color: red;
}
#primary.swot
{
 width: 60%;
 float: left;
}
.swot
{
	width:25%;
	float right: 
}